title: Will Critchlow. Life, Distilled.
description: >- # this means to ignore newlines until "baseurl:"
  This is my personal site.
  I started it while running Distilled, the company I co-founded in 2005.
  After selling Distilled, I now run SearchPilot.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://willcritchlow.com"
twitter_username: willcritchlow
linkedin_username:  willcritchlow
permalink: /:title/

# Build settings
theme: minima
plugins:
  - jekyll-feed

minima:
  include:
    - head-custom.html

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
