<!-- Google Analytics -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    // Set canonical URL for pageview
    const canonicalUrl =
        document.querySelector('link[rel="canonical"]')?.href ||
        window.location.href;
    gtag("config", "{{ site.google_analytics }}", {
        page_canonical_url: canonicalUrl,
    });
</script>
<!-- End Google Analytics -->
